.neon-text {
    color: #fff;
    text-shadow: 0 0 5px #505353, 0 0 10px #505353, 0 0 20px #505353, 0 0 30px #505353, 0 0 40px #505353, 0 0 50px #505353, 0 0 60px #505353;
}

.premium-user {
    font-family: 'Indie Flower', cursive;
    font-family: 'Teko', sans-serif;
    color: #556368;
}